{% load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>House value prediction</title>
    <link rel="stylesheet" href="{%static 'predict.css' %}">
    <script src="{%static 'events.js' %}"></script>
    <style>
        body{
            background-image:url("{%static 'img2.jpg' %}");
        }
    </style>
</head>

<body >
    <div class="main">
        <div class = "heading">
        <h1>Please enter the following Values</h1>
            <h2>
                {{result2}}
            </h2>
        </div>

        <form action="result" class="form">

                <div class="row3">
                    <div class="data-input">
                        <p> Bedrooms </p>
                        <input type="number" name="n1" min="0" required>
                    </div>
                    <div class="data-input">
                        <p> Bathrooms </p>
                        <input type="number" name="n2" min="0" required>
                    </div>

                    <div class="data-input">
                        <p> Floors </p>
                        <input type="number" name="n5" min="0" required>
                    </div>
                    <div class="data-input">
                        <p> Swimming Pool [ Yes = 1 / No = 0] </p>
                        <input type="number" name="n6" min="0" max="1" required>
                    </div>
                </div>
<hr>
                <div class="row3">
                <div class="data-input">
                        <p> People Viewed the House </p>
                        <input type="number" name="n7" min="0" required>
                    </div>
                    <div class="data-input">
                        <p> Rating [ 1 to 5] </p>
                        <input type="number" name="n8" min="1" max="5"required>
                    </div>
                    <div class="data-input">
                        <p> Grade based on Country Grading System [ 5 to 12 ]</p>
                        <input type="number" name="n9" min="5" max="12"required>
                    </div>

                </div>

<hr>

                <div class="row3">
                    <div class="data-input">
                        <p> Zipcode </p>
                        <input type="number" name="n14" min="0" required>
                    </div>
                    <div class="data-input">
                        <p> Latitude </p>
                        <input type="number" name="n15" min="0" step=".000001" required>
                    </div>
                    <div class="data-input">
                        <p> Longitude </p>
                        <input type="number" name="n16" min="0" step=".000001" required>
                    </div>
                </div>
<hr>
                <div class="row3">

                    <div class="data-input">
                        <p> Built Year </p>
                        <input type="number" name="n12" min="1990" max="2021" required>
                    </div>
                    <div class="data-input">
                        <p> Square Feet of House  </p>
                        <input type="number" id="n3" name="n3" min="0" required>
                    </div>
                    <div class="data-input">
                        <p> Square Feet of Land </p>
                        <input type="number" name="n4" min="0" required>
                    </div>
                    <div class="data-input">
                        <p> Square Feet of House apart From Basement </p>
                        <input type="number" id="n10" name="n10" min="0" required>
                    </div>
                    <div class="data-input">
                        <p> Square Feet of Basement </p>
                        <input type="number" id="n11" name="n11" min="0" required>
                    </div>

                </div>


<hr>
                <div class="row2">
                </div>

                <div class="row3">

                    <div class="data-input">
                        <p> Renovated Year </p>
                        <input type="number" name="n13" min="1990" max="2021" required>
                    </div>

                    <div class="data-input">
                        <p> Square Feet of House after renovation </p>
                        <input type="number" name="n17" min="0" required>
                    </div>
                    <div class="data-input">
                        <p> Square Feet of Land after renovation </p>
                        <input type="number" name="n18" min="0" required>
                    </div>
                </div>

                <div class="row">
                    <input type="submit" value="PREDICT">

                </div>
        </form>




    </div>

</body>

</html>

